.2_2 { 
	overflow:hidden;
	border:1px solid rgba(0, 0, 0, 1);
}

.e2_4 { 
	color:rgba(0, 0, 0, 1);
	width:350px;
	height:95px;
	position:absolute;
	left:41px;
	top:126px;
	font-family:Times New Roman;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e3_6 { 
	color:rgba(0, 0, 0, 1);
	width:213px;
	height:34px;
	position:absolute;
	left:94px;
	top:272px;
	font-family:Times New Roman;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e3_7 { 
	width:212px;
	height:240px;
	position:absolute;
	left:963px;
	top:79px;
	background-image:url(images/1334104_200_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_9 { 
	color:rgba(0, 0, 0, 1);
	width:276px;
	height:46px;
	position:absolute;
	left:78px;
	top:319px;
	font-family:Sofia;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e3_10 { 
	color:rgba(0, 0, 0, 1);
	width:1328px;
	height:646px;
	position:absolute;
	left:56px;
	top:378px;
	font-family:Arial;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
